# file types
*.ply
*.npz
*.npy
*.cpp
*.pkl
*.obj
*.ipynb
*.so
*.png
*.jpg
*.pt
*.mp4
*.bin
*.db
*.ckpt
*.zip


# cache
.DS_Store
/downloads
/unpack/
.vscode/
__pycache__/

code/body_models/
code/build/
code/data/
code/imgui.ini
code/logs/
code/saved_models/
generator/data

imgui.ini
